<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>On Sale Products</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/flash') %>

    <%- body %>

    <footer class="footer">
        <div class="footerLogo">
            <img src="/cbtlLogo.png" alt="Coffee Bean Tea Leaf Logo">
        </div>
        <div class="footerColumn">
            <h3>Our Company</h3>
            <a href="#">Careers</a>
            <a href="#">Caring Cup</a>
            <a href="#">Franchising</a>
            <a href="#">Store Locator</a>
        </div>
        <div class="footerColumn">
            <h3>Site Terms</h3>
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
            <a href="#">Do Not Sell or Share My Personal Information</a>
            <a href="#">Proposition 65</a>
        </div>
        <div class="footerColumn">
            <h3>Customer Care</h3>
            <a href="#">Contact Us</a>
            <a href="#">Returns</a>
            <a href="#">Shipping</a>
        </div>
    </footer>
</body>
</html>